.opt/
.repo/
.oh-my-zsh/
.vim/
.weechat/
.fonts/
.cache/
.local/
.dbus/
.ssh/
.btpd/
.fzf*
.space-vim/
.config/Thunar/
.config/viewnior/
.config/xfce4/
.config/geany/
.config/glib-2.0/
.config/htop/
.config/pulse/
.config/menus/
.config/chromium/
.pki/
.gnome/
projects/
.mozilla/
.lesshst
.viminfo
.python_history
.bash_history
.zsh_history
sv
Downloads/
Pictures
.xsel.log
