.opt/
.oh-my-zsh/
.vim/
.cache/
.dbus/
.local/share
.ssh/
.fzf*
.space-vim/
.config/weechat/logs/
.config/weechat/weechat.log
.config/viewnior/
.config/xfce4/
.config/glib-2.0/
.config/htop/
.config/pulse/
.config/menus/
.config/chromium/
.pki/
.gnome/
.mozilla/
code
dl
docs
pics
vids
runit
.xsel.log
.gitignore
